{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Créer un objet assistant</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.login) }}
        {{ form_row(registrationForm.medecin) }}
        {{ form_row(registrationForm.submit) }}
    {{ form_end(registrationForm) }}

    <a href="{{ path('app_register_assistant') }}"><button>J'ai déjà créé un objet assistant, passer à la création du compte</button></a>
{% endblock %}