{% extends 'base.html.twig' %}

{% block title %}Demander un rendez-vous{% endblock %}

{% block body %}

<div class="container rounded bg-white">
    {% if error is not null %}
        <div class="bg-danger rounded">{{error}}</div>
    {% endif %}
    {{form_start(form)}}
        <div class="form-group">
            <label>Date :</label>{{form_widget(form.date)}}
        </div>
        <div class="form-group">
            <label>Médecin :</label>{{form_widget(form.medecin)}}
        </div>
        <button type="submit" class="btn btn-primary mb-1">Demander le rendez-vous</button>
    {{form_end(form)}}
</div>

{% endblock %}
