{% extends 'base.html.twig' %}
{% block title %}Pepepital
{% endblock %}
{% block body %}
	<div class="d-flex flex-column justify-content-center p-5">
		<div id="div" class="bg-light rounded">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Nom du patient <span id="p.nom" class="arrow"><span></span><span></span></span> </th>
							<th scope="col">Statut <span id="s.libelle" class="arrow"><span></span><span></span></span></th>
							<th scope="col">Durée <span id="r.duree" class="arrow"><span></span><span></span></span></th>
							<th scope="col">Date <input type="text" id="datepicker"></th>
							<th scope="col"> Actions </th>
						</tr>
					</thead>
					<tbody>
						{% for unRDV in lesRDV %}
							<tr>
								<td>{{unRDV.patient.nom}}</td>
								<td>{{unRDV.statut.libelle}}</td>
                                <td>{{unRDV.duree}}h</td>
								<td>{{unRDV.heure|date('H:i')}} | {{unRDV.date | date('d/m/Y')}}</td>								
								<td><a href='{{path("modif_rdv", {id:unRDV.id})}}'><button type="button">Modifier</button></a></td>
							</tr>
						{% endfor %}
					</tbody>
				</tr>
		</div>
	</div>
</tbody></table>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="/rdv.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
{% endblock %}
